---
import BaseLayout from "../layouts/BaseLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import ContactForm from "../components/ContactForm.svelte";
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION} />
<!-- <LatestBlogPosts /> -->
<section class="corner-round border">
  <img class="div-banner" src="/banner.png" alt="Banner" />
  <div>
    <h2 class="section-heading">Empowering Possibilities with Technology</h2>
    <br />
    <article class="company-description">
      <p>
        Welcome to MagicPuddle, your gateway to boundless technological
        innovation. We specialize in providing holistic and meticulously
        tailored technical solutions, catering to both individuals and
        organizations. At MagicPuddle, we don't just fix problems; we engineer
        opportunities.
      </p>
    </article>
    <br />
    <article class="company-description">
      <p>
        Our comprehensive suite of services is meticulously crafted to propel
        you towards your technology-driven ambitions. From the art of
        troubleshooting and system optimization to pioneering IT strategies and
        meticulous planning, we're your partners in turning tech challenges into
        triumphs.
      </p>
    </article>
    <br />
    <article class="company-description">
      <p>
        Fueling our passion for technology is an unwavering commitment to
        personalized service and forward-thinking solutions. Our experts are
        dedicated to elevating your experience, ensuring that your journey
        through the realm of technology is as seamless as it is transformative.
      </p>
    </article>
    <br />
    <article class="company-description">
      <p>
        Join us in the MagicPuddle and immerse yourself in a world where
        innovation knows no bounds, and every hurdle is a stepping stone towards
        excellence.
      </p>
    </article>
    <br />
  </div>
</section>
