---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="/banner.png" />
      <div id="products">
        <h2 class="section-heading">Explore Our Innovative Products</h2>
        <br />
        <article class="products-description">
          <p>
            Welcome to MagicPuddle's realm of technology solutions. Our diverse
            catalog features an array of meticulously crafted products that
            redefine computing excellence.
          </p>
        </article>
        <br />
        <article class="products-description">
          <p>
            Whether you're seeking cutting-edge brand new devices, eco-friendly
            gently used options, or premium refurbished gems, our collection is
            a testament to quality and innovation.
          </p>
        </article>
        <br />
        <article class="products-description">
          <p>
            Our dedicated team of experts ensures that each product meets the
            highest standards, ensuring seamless performance and tailored
            functionality. Your satisfaction is our commitment.
          </p>
        </article>
        <br />
        <article class="products-description">
          <p>
            Step into the world of MagicPuddle's products, where technology
            converges with your aspirations, creating possibilities beyond
            imagination.
          </p>
        </article>
        <br />
      </div>
    </section>
    <Footer />
    <style>
      @media (max-width: 640px) {
        .div-banner {
          max-width: 100%;
        }
      }

      @media (min-width: 640px) {
        .div-banner {
          max-width: 100%;
        }
      }

      .corner-round {
        border-radius: 7rem;
      }
    </style>
  </body>
</html>
