---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
---

<!DOCTYPE html>
<html lang="en">
  <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  <body>
    <Header />
    <section class="corner-round border">
      <img class="div-banner" src="/banner.png" />
      <div id="techshop">
        <h2 class="section-heading">
          Discover Innovation at MagicPuddle Tech Shops
        </h2>
        <br />
        <article class="shop-description">
          <p>
            Welcome to MagicPuddle Tech Shops, your haven for technological
            craftsmanship. We are artisans of the digital realm, specializing in
            the creation, diagnosis, repair, and care of computers, peripherals,
            and an array of electronic marvels.
          </p>
        </article>
        <br />
        <article class="shop-description">
          <p>
            Our dedicated team of highly skilled technicians is armed with
            cutting-edge tools and expertise, ready to embark on a journey of
            diagnostics, repairs, and transformational magic to ensure your
            devices operate at their zenith. Whether it's a minor hiccup or a
            complex challenge, we are committed to delivering the utmost level
            of service to cater to your technological aspirations.
          </p>
        </article>
        <br />
        <article class="shop-description">
          <p>
            At MagicPuddle Tech Shop, we don't just fix devices; we breathe life
            into them, infusing innovation and resilience into every circuit.
            Step into a world where technology is an art form, and your
            satisfaction is our masterpiece.
          </p>
        </article>
        <br />
      </div>
    </section>
    <Footer />
    <style></style>
  </body>
</html>
