---
const today = new Date();
---

<footer>
	<div class="credits">
		<p>
			&copy; {today.getFullYear()} MagicPuddle. All rights reserved. | Powered
			by <a href="https://www.github.com/MagicPuddle/godgas">GodGas</a>
		</p>
	</div>
</footer>

<style>

</style>
