---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header class="header">
	<logo class="logo" id="logo">
		<img class="logo-img" src="/logo.svg" />
		<h1>{SITE_TITLE}</h1>
	</logo>
	<nav class="nav" id="nav-menu">
		<HeaderLink href="/"><i class="fa fa-igloo"></i></HeaderLink>
		<!-- <HeaderLink href="/blog"><i class="fa-regular fa-newspaper"></i></HeaderLink> -->
		<HeaderLink href="/techshop"><i class="fa fa-shop"></i></HeaderLink>
		<HeaderLink href="/products"><i class="fa fa-laptop"></i></HeaderLink>
		<HeaderLink href="/mageye"><i class="fa fa-eye"></i></HeaderLink>
		<HeaderLink href="/about"><i class="fa-regular fa-address-card"></i></HeaderLink>
		<HeaderLink href="/contact"><i class="fa-regular fa-comments"></i></HeaderLink>
		<!-- <HeaderLink href="#"><i class="fa-regular fa-user"></i></HeaderLink> -->
	</nav>
</header>

<style>

</style>
